@charset "utf-8"; 

font-family: 'Roboto', sans-serif;

.carousel, .item, .active {
	height:100%;
	}
	
.carousel-inner {
	height:100%;
	}
	
.carousel {
	margin-bottom:0px;
	}
	
.carousel-caption {
    z-index: 000;
    margin: 300px auto;
	}
	
.carousel-caption h1 {
	font-size: 70px;
	color: #fff;
	text-align: center;
	text-shadow: 3px 3px 3px #000000;
}
.carousel-caption > p {
	font-size: 30px;
}

.carousel .item {
	background-color: #777;
	}

.carousel-indicators {
	margin-bottom: 10px;
}
	
.carousel .carousel-inner .bg {
	background-repeat:no-repeat;
	background-size:cover;
	}
	
.carousel .carousel-inner .bg1 {
	background-image:url('../image/carousel3.png');
	background-position: center top;
	}
	
.carousel .carousel-inner .bg2 {
	background-image:url('../image/carousel2.png');
	background-position: center center;
	}
	
.carousel .carousel-inner .bg3 {
	background-image:url('../image/carousel1.png');
	background-position: center top;
	}
	
.carousel .carousel-inner .btn-lg {
	background-color: #FF734D;
	color: #fff;
	border: #000;
	box-shadow: 2px 2px 2px #000;
	}
	
@media screen and (max-width: 100px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.footer {
    margin-bottom: 10px;
    font-size: 14px;
    background-color: white;
    color: lightgray;
    text-align: center;
}